.gallery {
    display: grid;
    position: relative;
    margin-bottom: 60px;
    margin-top: 60px;
    img {
    object-fit: cover;
    object-position: bottom;
    }
}

.fullwidth {
    @media only screen and (min-width: 998px) {
        width: 100vw;
        margin-left: -5vw;
        margin-right: -5vw;
    }
}

.gallery-port {
    display: flex;
    margin-top: 20px;

    img {
        height: 106vh;
        width: 62vw;
    }
}

.gallery-port-right {
    @media only screen and (min-width: 998px) {
        margin-top: -60px;
        justify-self: end;
        margin-bottom: -30px;
    }

    img {
        height: auto;
        width: calc(100vw - 60px);

        @media only screen and (min-width: 998px) {
            width: 62vw;
        }
    }
}

.gallery-port-center {
    @media only screen and (min-width: 998px) {
        margin-top: -60px;
        justify-self: center;
        margin-bottom: -30px;
    }

    img {
        height: auto;
        width: 100vw;
        margin: 0 -30px;

        @media only screen and (min-width: 998px) {
            width: 52.5vw;
        }
    }
}

.gallery-land {
    margin: 0 auto 20px;

    @media only screen and (min-width: 998px) {
        margin: 20px auto;
    }

    img {
        width: 100vw;
        margin: 0 -30px;

        @media only screen and (min-width: 998px) {
            width: 90vw;
        }
    }
}

.gallery-landscape-tekst {
    margin-top: 15px;
    width: 300px;
}

.gallery-to-port {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 45px;
    margin: 0 auto;

    img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 45px;
    }

    span {
        margin-top: 15px;
    }

    @media only screen and (max-width: 998px) {
        grid-template-columns: 1fr;
        row-gap: 90px;

        img {
            width: 100vw;
            margin: 0 -30px 45px;
        }
    }
}

.gallery-to {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    column-gap: 20px;
    max-width: 1600px;

    @media only screen and (max-width: 998px) {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    &:nth-of-child(1) {
        margin-right: 20px;
    }

    img {
        width: 50vw;
        height: 63vw;
        object-fit: cover;
        object-position: top left;

        @media only screen and (max-width: 998px) {
            height: auto;
            width: 100vw;
            margin: 0 -30px;
        }
    }

    span {
        margin-top: 15px;
    }
}

.gallery-video {
    margin-top: 20px;
}

.gallery-fullwidth {

    img {
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }
}

.underskrift {
    margin: 45px auto;

    h2 {
        /*width: 400px;*/
        text-align: center;
        margin: 0 auto;
    }
}
